
services:
  db:
    image: postgres:16
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 664053
      POSTGRES_DB: lessons
    env_file:
      - .env
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: redis
    restart: always

  backend:
    build: .
    container_name: app
    restart: always
    env_file:
      - .env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"

  celery_worker:
    build: .
    container_name: celery_worker
    restart: always
    env_file:
      - .env
    depends_on:
      - redis
      - db
    command: celery -A src.celery_app worker -l info

  flower:
    image: mher/flower
    container_name: flower
    restart: always
    depends_on:
      - redis
      - celery_worker
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
    ports:
      - "5555:5555"
